body{
	background: url(../img/background.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	font-family: "Montserrat",sans-serif;
	min-height: 0vh;
}

.container{
	width: 97%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #E4E4E4;
}

.container h1{
	font-size: 320px;
	margin: 0;
	font-weight: 0;
	letter-spacing: 15px;
	padding-bottom: 24px;
}

.container h2{
	font-size: 46px;
}

.container a{
	text-decoration: none;
	color: #fff;
	border-radius: 25px;
	padding: 24px 48px;
	font-size: 28px;
	text-transform: uppercase;
	box-shadow: 0px 0px 10px white;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.4s;
}

.container a:hover{
    color: #ffffff;
    background-color: #3b1899;
    transition: background-color .35s, opacity .35s;
    box-shadow: 0px 0px 10px #3b1899;
}