h1{
	display: block;
	font-family: Montserrat, sans-serif;
	padding-left: 13em;
	padding-top: 1em;
}

body div{
	font-family: Montserrat, sans-serif;
	padding-left: 11em;
	padding-top: 3em;
	width: 310px;
	box-sizing: border-box;
	color: white;
	background-color: pink;
}