a{
	text-decoration: inherit;
}

* {
	box-sizing: border-box;
	margin: 0px;
}

svg{
    background: white;
    display: block;
}

svg.top{
    
}


.fullpageMenu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    transition: 0.5s;
    font-family: 'Lato', sans-serif;
}

.fullpageMenu.active{
    top: 0;
}

.fullpageMenu .banner{
    position: absolute;
    min-width: 600px;
    height: 100%;
}

.fullpageMenu .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.fullpageMenu .nav ul{
    position: relative;
}

.fullpageMenu .nav ul li{
    position: relative;
    list-style: none;
    padding: 0 20px;
    margin: 5px 0;
    overflow: hidden;
    display: table;
}

.fullpageMenu .nav ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3b1899;
    transition: transform 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.fullpageMenu .nav ul li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    padding-top: 12px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.menuicon{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: url(file:///F:/Disque%20Dur%20TOSHIBA/Site%20Globale/Site%20A-21%20-%20Mobile/img/menu.png);
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
}

.menuicon.active{
    background: url(file:///F:/Disque%20Dur%20TOSHIBA/Site%20Globale/Site%20A-21%20-%20Mobile/img/close.png);
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
}

body{
	background: url(file:///F:/Disque%20Dur%20TOSHIBA/Application/Photoshop%20[images-projet]/Gif/2070f812d6a581d5782c2df2f13165e8.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
}

div.faq{
	background: white;
}

div.faq p{
	padding-top: 75px;
	color: black;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-size: 32px;
	letter-spacing: 0.5px;
}

div.faq h1{
	display: absolute;
    position: flex;
	margin: 8em;
	font-family: 'Lato';
	box-sizing: 150px;
}

div.faq img{
	position: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

.container-faq{
    margin-top: 50px;
    position: absolute;
    width: 1200px;
    padding-left: 100px;
}

.small{
	font-size: 85%;
}

div.faq hr{
	max-width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

div.faq h1{
	display: block;
	color: black;
	font-size: 18px;
	font-family: 'Catamaran', Arial, sans-serif;
	line-height: 1.5;
}

div.faq li.client a.client {
    color: #D9D9D9;
}

div.shop{
    background: white;
}

div.shop p{
    padding-top: 75px;
    color: black;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0.5px;
}

div.shop hr{
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.itembank{
    padding: 20px;
    padding: 75px;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.item1{
    text-align: center;
    background: url("../img/404-item-blur.png") no-repeat center center;
    padding: 100px 75px;
    box-shadow: 0px 0px 20px #333333;
    border: 2px solid white;
    margin: 100px auto;
}

.item2{
    background: url("../img/404-item-blur.png") no-repeat center center;
    padding: 100px 75px;
    box-shadow: 0px 0px 20px #333333;
    border: 2px solid white;
    margin: 100px auto;
    
}

.item3{
    text-align: center;
    background: url("../img/404-item-blur.png") no-repeat center center;
    padding: 100px 75px;
    box-shadow: 0px 0px 20px #333333;
    border: 2px solid white;
    margin: 100px auto;
}

div.shop h1{
    display: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 150px;
    text-transform: uppercase;
}

.item1 a{
    font-family: 'Lato', sans-serif;
    border: solid white 1px;
    padding: 7px 15px;
    color: white;
    text-align: center;
}

.item1 a:hover{
    transition: 0.3s;
    background-color: #3b1899;
    border: 1px solid #3b1899;
}

.item2 a{
    font-family: 'Lato', sans-serif;
    border: solid white 1px;
    padding: 7px 15px;
    color: white;
    text-align: center;
}

.item2 a:hover{
    transition: 0.3s;
    background-color: #3b1899;
    border: 1px solid #3b1899;
}

.item3 a{
    font-family: 'Lato', sans-serif;
    border: solid white 1px;
    padding: 7px 15px;
    color: white;
    text-align: center;
}

.item3 a:hover{
    transition: 0.3s;
    background-color: #3b1899;
    border: 1px solid #3b1899;
}

div.stat{
	background: white;

}

div.stat p{
	padding-top: 75px;
	color: black;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-size: 32px;
	letter-spacing: 0.5px;
}

div.stat hr{
	max-width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.modo{
    display: absolute;
    position: flex;
    width: 300px;
    text-align: center;
    margin-left: 81em;
    color: white;
    padding: 50px 50px;
    margin-top: 4em;
    margin: 100px auto;
    box-shadow: 0px 0px 20px black;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 23px;
    font-weight: 2px;
}

.member{
    display: absolute;
    position: flex;
    width: 300px;
    text-align: center;
    margin-left: 81em;
    color: white;
    padding: 50px 50px;
    margin-top: 4em;
    margin: 100px auto;
    box-shadow: 0px 0px 20px black;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 23px;
    font-weight: 2px;
}

.official{
    display: absolute;
    position: flex;
    width: 300px;
    text-align: center;
    margin-left: 81em;
    color: white;
    padding: 50px 50px;
    margin-top: 4em;
    margin: 100px auto;
    box-shadow: 0px 0px 20px black;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 23px;
    font-weight: 2px;
}

div.equipe{
	background: #220095;
}

div.equipe p{
	padding-top: 75px;
	color: white;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-size: 32px;
	letter-spacing: 0.5px;
}

div.equipe hr{
	max-width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

footer{
    background: rgb(20, 21, 24);
    display: absolute;
    position: flex;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    border-top: solid 1px rgb(59, 24, 153);
}

footer p{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

footer h1{
    font-size: 14px;
    color: rgb(47, 49, 56);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 8px;
}

.footer{
    justify-content: center;
}

.copyright{
    display: block;
    position: relative;
}

.button{
    padding-top: 12px;
    padding-bottom: 12px;
}

.discord{
    display: absolute;
    position: flex;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
}

.twitter{
    display: absolute;
    position: flex;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
}

.youtube{
    display: absolute;
    position: flex;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
}

@charset "UTF-8";

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}